@tailwind base;
@tailwind components;
@tailwind utilities;

hml,
body,
:root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  @apply bg-white;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* START: Sidebar styles */

/* START: PostCard styles */
.card-button__container {
  @apply flex  gap-2  justify-between  transition rounded-md p-2;
}
.text-neutral-xl {
  @apply text-neutral-600 text-xl;
}

.bg-primary-color {
  @apply bg-green-500;
}
